<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="confirm()" #editForm="ngForm">
            <h2 id="jhi-applicant-heading" jhiTranslate="passportApp.applicant.home.createOrEditLabel">Create or edit a Applicant</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!applicant.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="applicant.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="passportApp.applicant.firstname" for="field_firstname">Firstname</label>
                    <input type="text" class="form-control" name="firstname" id="field_firstname"
                        [(ngModel)]="applicant.firstname" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="passportApp.applicant.lastname" for="field_lastname">Lastname</label>
                    <input type="text" class="form-control" name="lastname" id="field_lastname"
                        [(ngModel)]="applicant.lastname" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="passportApp.applicant.ssn" for="field_ssn">Ssn</label>
                    <input type="number" class="form-control" name="ssn" id="field_ssn"
                        [(ngModel)]="applicant.ssn" required max="99999" jhiMax="99999"/>
                    <div [hidden]="!(editForm.controls.ssn?.dirty && editForm.controls.ssn?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ssn?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.ssn?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 99999 }">
                            This field cannot be more than 99999.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.ssn?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="passportApp.applicant.birthDate" for="field_birthDate">Birth Date</label>
                    <div class="input-group">
                        <input id="field_birthDate" type="text" class="form-control" name="birthDate" ngbDatepicker  #birthDateDp="ngbDatepicker" [(ngModel)]="applicant.birthDate"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="passportApp.applicant.gender" for="field_gender">Gender</label>
                    <select class="form-control" name="gender" [(ngModel)]="applicant.gender" id="field_gender" >
                        <option value="MALE">{{'passportApp.Gender.MALE' | translate}}</option>
                        <option value="FEMALE">{{'passportApp.Gender.FEMALE' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="passportApp.applicant.photo" for="field_photo">Photo</label>
                    <input type="text" class="form-control" name="photo" id="field_photo"
                        [(ngModel)]="applicant.photo" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
